/* Thato Kalagobe u21487279 */

/* profile page notifs */
#notification { display: none; }
#notificationUn { display: none; }
#sending { display: none; }

/* edit button */
.editing {
    color: white;
    width: 14%;
    font-size: 1.2em;
    /* font-family: 'Gilda Display'; */
}

.editing:hover {
    color: black;
}

/* progress bar */
#progress-bar-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 10px;
    background-color: #0000001e;
    z-index: 9999;
 }
 
#progress-bar {
    position: fixed;
    top: 0;
    width: 0%;
    height: 10px;
    background-color: #ddc1a8; /*lighter vibe*/
    /*background-color: #5c4e43;*/ /*darker vibe*/
    z-index: 10000;
  }

/* slider thingy */
  .slider { display: flex; align-items: center; margin-bottom: 7px;}
  /* .slider label {font-size: 24px;font-weight: 400;padding-left: 10px;color: black;} */
  .slider input[type="range"] {width: 420px;height: 2px;background: black;border: none;outline: none;} 

/* headings */
h2, h3 {
	font-family: 'Gilda Display', sans-serif;
	/* letter-spacing: 5px; */
    font-size: 2em;
    color: white;
}

h1{
    color: white;
    font-size: 3em;
    letter-spacing: 4px;
	font-family: 'Gilda Display', sans-serif;
}

/* navbar */
a {
    text-decoration: none;
    color: inherit;
    transition: all 0.4s linear;
}

.ul:hover .li:not(:hover) a { 
    color: rgb(107, 105, 105);
}

.navbar {
    color: white;
}

/* body */
body {
    /* font-family: Suranna, serif; */
    font-family: 'Quicksand', sans-serif;
    font-size: 1em;
    word-spacing: 5px;
	background-image: url('../images/bg.JPG');
    
    /* background-repeat: no-repeat; */
	/* background-size: cover; */
    /* background-color: rgb(48, 48, 48); */
}


/* footer */
footer {
    color: white;
    display: flex;
    justify-content: center;
    margin-top: auto;
    height: 60px; 
    text-align: center;
}


/* ***************************************************************************** */
/* *************************** SIGNUP + LOGIN PAGE ***************************************/

.body {
    background-image: none;
    background-color: #cacaca;
    display: flex;
    align-items: center;
}

/* the big container w everything */
.before-index {
    display: flex;
    justify-content: center; 
    align-items: center;
    min-height: 100vh;
    flex-direction: column; 
}

/* styling the card itself */
.cardh{
    background-color: #a2866d;
}

/* Increase padding for form controls
.form-control {
    padding: 10px;
  }
   */

#p {
    color: white;
}

.p {
    color: white;
}

#ul {
    color:white;
    list-style-type: none;
}

